*{
    box-sizing:border-box;
    }
    body{
    margin:0;
    background-color: #141416;
    background-image: url('bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    }
    
        
        
        
            .content{
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }
            .content h1{
                font-size:70px;
                margin-top: 80px;
            }
            .content p{
                font-size: 24px;
                margin: 20px auto;
                font-weight: 100;
                line-height: 25px;
            }
            
            
           
            h1{
                background: linear-gradient(to right,#b92b27,#1565C0);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
           a{
                position: relative;
                text-transform: uppercase;
                transition: 0.5s;
                font-size: 1.5em;
                letter-spacing: 0.1em;
                font-weight: 400;
                padding: 10px 30px;
                background: #27282c;
                color: #27282c;
                text-decoration: none;


            }
            a:hover{
                background: var(--clr);
                color: var(--clr);
                letter-spacing: 0.25em;
                box-shadow: 0 0 35px var(--clr);
            }
            a:before{
                content: '';
                position: absolute;
                inset: 2px;
                background: #fff;
            }
            a span{
                position: relative;
                z-index: 1;

            }
            a i{
                position: absolute;
                inset: 0;
                display: block;
            }
            a i::before{
                content: '';
                position: absolute;
                top: 0;
                left: 80%;
                width: 10px;
                height: 4px;
                background: #fff;
                transform: translateX(-50%)
                skewX(325deg);
                transition: 0.5s;
            }
            a:hover i::before{
                width: 20px;
                left: 20%;

            }


            a i::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 20%;
                width: 10px;
                height: 4px;
                background: #fff;
                transform: translateX(-50%)
                skewX(325deg);
                transition: 0.5s;
            }
            a:hover i::after{
                width: 20px;
                left: 80%;
                
            }
@media(max-width:600px){
     .content h1{
                font-size:125px;
     }
    .content p{
                font-size: 50px;
    }
}
            
            
