*{
    box-sizing:border-box;
    }
    body{
    margin:0;
    background-color: #141416;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
    
        
        
        
            .content{
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }
            .content h1{
                font-size:70px;
                margin-top: 80px;
            }
            .content p{
                font-size: 24px;
                margin: 20px auto;
                font-weight: 100;
                line-height: 25px;
            }
            input{
                width: 200px;
                padding: 15px 0;
                text-align: center;
                margin: 20px 10px;
                border-radius: 25px;
                font-weight: bold;
                border: 2px solid #141416;
                background: transparent;
                cursor: pointer;

            }
            input:hover{
                background-color: #d3d3db;
                color: #141416;
                
                
            @media (max-500px){

                p{
                   font-size: 35px;
                  }
               h1{
                  font-size:45px;
                 }
               }