*{
    box-sizing:border-box;
    }
    body{
    margin:0;
    background-image: linear-gradient(to right,#8E0E00,#1F1C18);
    
    }
    nav{
        background:white;
    width:100%;
    overflow:auto;
    
    }
    ul{
    margin:0;
    padding:0;
    list-style:none;
    }
    li{
    float:left;
    
    
    }
    nav a{
        width:120px;
        display:block;
        text-decoration:none;
        text-align:center;
        background:white;
        font-size:17px;
        color:black;
        padding:20px 10px;
        font-family:"comic sans mc";
        }
        nav a:hover{
        color:#879673;
        }
        nav ul li::after{
            content:'';
            height:3px;
            width:0;
            background:#879673;
            position:absolute;
            left:0;
            bottom:0;
            transition:0.5s;
            }
            nav ul li:hover::after{
            width:100%;
            }
            nav ul li{
            list-style: none;
            display: inline-block;
            margin: 0 10px;
            position:relative;
            }
        
        h1{
            color: white;
            text-align: center;
            ;
        }
        p{
            text-align: center;
            color:white;
            font-size: 24px;
        }
        .cods{
            color:#8E0E00;
            background-color: white;
            font-size: 35px;
            border-radius: 15px;
        }