*{
    box-sizing:border-box;
    }
    body{
       
    margin:0;
    background-image: url('bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
    nav{
        background:#ffffff;
    width:100%;
    overflow:auto;
    
    }
    ul{
    margin:0;
    padding:0;
    list-style:none;
    }
    li{
    float:left;
    
    
    }
    nav a{
        width:120px;
        display:block;
        text-decoration:none;
        text-align:center;
        background:#ffffff;
        font-size:17px;
        color:#141416;
        padding:20px 10px;
        font-family:"comic sans mc";
        }
        nav a:hover{
        color:#1e9bff;
        }
        nav ul li::after{
            content:'';
            height:3px;
            width:0;
            background:#1e9bff;
            position:absolute;
            left:0;
            bottom:0;
            transition:0.5s;
            }
            nav ul li:hover::after{
            width:100%;
            }
            nav ul li{
            list-style: none;
            display: inline-block;
            margin: 0 10px;
            position:relative;
            }
        
        h1{
            color: #141416;
            text-align: center;
            
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            font-size: 24px;
            
        }
        .cods{
            width: 200px;
                padding: 15px 0;
                text-align: center;
                margin: 20px 10px;
                border-radius: 25px;
                font-weight: bold;
                border: 2px solid #141416;
                background: transparent;
                cursor: pointer;
        }
        .cods:hover{
            background-color: #d3d3db;
            color: #141416;
            border-color: #141416;
        }
        a{
            text-align: center;
            text-decoration: none;
        }
     .module{
            color: #141416;
            text-align: center;
            font-size: 24px;
        }
    .module:hover{
            color: blue;
        }
        .module input{
            width: 200px;
                padding: 15px 0;
                text-align: center;
                margin: 20px 10px;
                border-radius: 15px;
                font-weight: bold;
                border: 2px solid #141416;
                background: transparent;
                cursor: pointer;
        }
        input:hover{
            background-color: #d1eaf0;
            color: var(--clr);
            border-color: #1e9bff;
            box-shadow: 0 0 35px var(#1e9bff);
            
        }